In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r"C:\Users\mainakd\Documents\AKshayTask\nlp\machine_learning_self_study_udemy\model\datasets\german_credit_data_dataset.csv")
df.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,personal,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,dependents,telephone,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2.0,A173,1,A192,A201,1
1,A12,48,A32,A43,5951.0,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1.0,A173,1,A191,A201,2
2,A14,12,A34,A46,2096.0,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1.0,A172,2,A191,A201,1
3,A11,42,A32,A42,7882.0,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1.0,A173,2,A191,A201,1
4,A11,24,A33,A40,4870.0,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2.0,A173,2,A191,A201,2

In [19]:
df.shape

(1000, 21)

In [20]:
df.columns

Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment', 'installment_rate',
       'personal', 'other_debtors', 'present_residence', 'property', 'age',
       'other_installment_plans', 'housing', 'existing_credits', 'job',
       'dependents', 'telephone', 'foreign_worker', 'customer_type'],
      dtype='object')

In [21]:
df = df.drop(["telephone","present_residence","personal","other_installment_plans"], axis=1)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_account_status    1000 non-null object
duration                   1000 non-null int64
credit_history             1000 non-null object
purpose                    1000 non-null object
credit_amount              1000 non-null float64
savings                    1000 non-null object
present_employment         1000 non-null object
installment_rate           1000 non-null float64
other_debtors              1000 non-null object
property                   1000 non-null object
age                        1000 non-null float64
housing                    1000 non-null object
existing_credits           1000 non-null float64
job                        1000 non-null object
dependents                 1000 non-null int64
foreign_worker             1000 non-null object
customer_type              1000 non-null int64
dtypes: float64(4), int64(3), object(10)
memory usage: 132.9+ KB

In [23]:
df.savings.unique()

array(['A65', 'A61', 'A63', 'A64', 'A62'], dtype=object)

In [24]:
## Label the categorical data
from sklearn.preprocessing import LabelEncoder

savings_dict = {"A65":0, "A61":1, "A62":2, "A63":3, "A64":4}
df['savings'].replace(savings_dict, inplace=True)
df.head(10)

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,other_debtors,property,age,housing,existing_credits,job,dependents,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,0,A75,4.0,A101,A121,67.0,A152,2.0,A173,1,A201,1
1,A12,48,A32,A43,5951.0,1,A73,2.0,A101,A121,22.0,A152,1.0,A173,1,A201,2
2,A14,12,A34,A46,2096.0,1,A74,2.0,A101,A121,49.0,A152,1.0,A172,2,A201,1
3,A11,42,A32,A42,7882.0,1,A74,2.0,A103,A122,45.0,A153,1.0,A173,2,A201,1
4,A11,24,A33,A40,4870.0,1,A73,3.0,A101,A124,53.0,A153,2.0,A173,2,A201,2
5,A14,36,A32,A46,9055.0,0,A73,2.0,A101,A124,35.0,A153,1.0,A172,2,A201,1
6,A14,24,A32,A42,2835.0,3,A75,3.0,A101,A122,53.0,A152,1.0,A173,1,A201,1
7,A12,36,A32,A41,6948.0,1,A73,2.0,A101,A123,35.0,A151,1.0,A174,1,A201,1
8,A14,12,A32,A43,3059.0,4,A74,2.0,A101,A121,61.0,A152,1.0,A172,1,A201,1
9,A12,30,A34,A40,5234.0,1,A71,4.0,A101,A123,28.0,A152,2.0,A174,1,A201,2

In [25]:
# if there is no order specified like savings then you can use one hot encoding for your data
# One hot encoding can be used with categorical data with no inherent order and also can be used ordinary data
df = pd.get_dummies(df, columns = ["checking_account_status",
                                   "credit_history",
                                   "purpose",
                                   "present_employment",
                                   "property",
                                   "housing",
                                   "other_debtors",
                                   "job",
                                   "foreign_worker" ])
# One hot encoder increase the number of columns.
df.shape

(1000, 48)

In [26]:
## Import all classification model
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [27]:
# Naive bayes
def naive_byaes(x_train, y_train):
    classifier = GaussianNB()
    classifier.fit(x_train, y_train)
    
    return classifier

In [28]:
# K nearest neighbors
def k_nearest_neighbors(x_trian, y_train):
    classifier =  KNeighborsClassifier(n_neighbors=10)
    classifier.fit(x_train, y_train)
    
    return classifier

In [38]:
# Support Vector Classifications
def support_vector_classifications(x_train, y_train):
    # rbf kernel use for feature transform our i/p features into simple representation
    classifier = SVC(kernel = 'rbf', gamma = 'scale')
    classifier.fit(x_train, y_train)
    
    return classifier

In [41]:
## Decision Tree

def decision_tree(x_train, y_train):
    classifier = DecisionTreeClassifier(max_depth = 6)
    classifier.fit(x_train, y_train)
    
    return classifier

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [32]:
X = df.drop('customer_type', axis=1)
Y = df['customer_type']
x_train,x_test, y_train, y_test = train_test_split(X,Y, test_size =0.2 )

In [33]:
def build_and_train_classifier(x_train, y_train, classification_func):
    model = classification_func(x_train, y_train)
    y_pred = model.predict(x_test)
    
    train_score= model.score(x_train, y_train)
    test_score = accuracy_score(y_test, y_pred)
    
    print("Training score: {}".format(train_score))
    print("Test Score: {}".format(test_score))

In [35]:
build_and_train_classifier(x_train,y_train, naive_byaes)

Training score: 0.7475
Test Score: 0.71

In [36]:
build_and_train_classifier(x_train,y_train, k_nearest_neighbors)

Training score: 0.7325
Test Score: 0.67

In [39]:
build_and_train_classifier(x_train,y_train, support_vector_classifications)

Training score: 0.715
Test Score: 0.685

In [42]:
build_and_train_classifier(x_train,y_train, decision_tree)

Training score: 0.81625
Test Score: 0.685